* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

// ANIMATSIYA SECTION
img {
  cursor: pointer;
}

button {
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    text-decoration: underline solid #000;
    color: #000;
  }
}

li {
  list-style: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    list-style: disc;
  }

  &::marker {
    color: #000;
  }
}

// HEADER SECTION

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 38px;
  margin-bottom: 108px;

  ul {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      font-family: "Hind Siliguri";
      font-size: 18px;
      font-weight: 400;
      line-height: 17.1px;
      text-align: left;
      color: #000;
    }
  }

  button {
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #ff7235;
    font-family: "Hind Siliguri";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    text-align: left;
    color: #ff7235;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// HERO SECTION

.hero__container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding-bottom: 158px;

  h1 {
    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: #292830;
    width: 540px;
    height: 288px;
  }

  p {
    //styleName: Sub-title;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
    margin-top: -40px;
    margin-bottom: 40px;
  }
}

.hero-left-bot {
  display: flex;
  align-items: center;
  gap: 24px;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    width: 225px;
    height: 75px;
    border-radius: 8px;
    background: #ff7235;

    color: #fff;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
  }

  a {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
  }
}

// MAIN SECTION
.main__container {
  background-image: url("../images/Blob.png");
  background-repeat: no-repeat;
  width: 1440px;
  height: 712px;
  background-color: #ff7235;
  padding-top: 87px;
  padding-left: 165px;
  padding-right: 165px;
}

// ARTICLE SECTION

.article__container {
  display: flex;
  align-items: center;
  gap: 108px;
  justify-content: center;
  padding-top: 82px;
  padding-bottom: 66px;
  .facebook {
    &:hover {
      filter: brightness(0) saturate(100%) invert(32%) sepia(88%)
        saturate(2659%) hue-rotate(190deg) brightness(100%) contrast(89%);
    }
  }
  .google {
    &:hover {
      filter: brightness(0) saturate(100%) invert(32%) sepia(88%)
        saturate(2659%) hue-rotate(190deg) brightness(100%) contrast(89%);
    }
  }

  .coca-cola {
    &:hover {
      filter: brightness(0) saturate(100%) invert(17%) sepia(100%)
        saturate(743%) hue-rotate(-37deg) brightness(105%) contrast(102%);
    }
  }
}

.linkedin {
  &:hover {
    filter: brightness(0) saturate(100%) invert(21%) sepia(73%) saturate(757%)
      hue-rotate(-147deg) brightness(104%) contrast(93%);
  }
}
.samsung {
  &:hover {
    filter: brightness(0) saturate(100%) invert(32%) sepia(85%) saturate(1500%)
      hue-rotate(180deg) brightness(100%) contrast(100%);
  }
}

// INFO SECTION

.info__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: #bdbdbd;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
}

.info-left {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ff7235;
  }
}

// SAVE SECTION

.save {
  background-color: #fffaf8;
}

.save__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: #bdbdbd;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
}

.save-right {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ff7235;
  }
}

// NEED SECTION

.need__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: #bdbdbd;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
}

.need-left {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ff7235;
  }
}

// WORK SECTION

.work__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  padding: 139px 0;

  .work-top {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    h2 {
      width: 730px;
      height: 192px;
      font-family: "Hind Siliguri";
      font-size: 96px;
      font-weight: 700;
      line-height: 96px;
      text-align: left;
      color: #292830;
    }

    p {
      width: 350px;
      height: 156px;
      color: #bdbdbd;
      font-family: "Hind Siliguri";
      font-size: 24px;
      font-weight: 400;
      line-height: 38.81px;
      text-align: left;
    }
  }
}

.work-bottom {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  .work-templet {
    width: 350px;
    height: 350px;
    border-radius: 12px;
    background: #ffffff;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &:hover {
      box-shadow: 0px 0px 50px 0px #0000000a;
    }

    button {
      width: 64px;
      height: 64px;
      background: #ffbd740d;
      border-radius: 50%;
    }
  }

  .work-fail {
    box-shadow: 0px 0px 50px 0px #0000000a;
  }
}

.work-templet {
  h3 {
    font-family: "Hind Siliguri";
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #000;

    margin-top: 24px;
    margin-bottom: 12px;
  }

  p {
    width: 220px;
    height: 46px;
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
}

// PLAN SECTION

.plan {
  background-color: #fffaf8;
}

.plan__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 124px 0;
  gap: 80px;
  justify-content: center;
  .plan-top {
    font-family: "Hind Siliguri";
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    height: 72px;
    color: #292830;
  }
  .plan-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .paid {
      width: 350px;
      height: 500px;
      border-radius: 12px;
      border: 1px;
      background: #ffffff;
      border: 1px solid #f5f5f5;
      padding: 41px 100px 60px 40px;
      box-shadow: 0px 0px 50px 0px #0000000a;
    }
  }
}
.paid {
  h3 {
    width: 190px;
    height: 52px;
    font-family: "Hind Siliguri";
    font-size: 32px;
    font-weight: 600;
    line-height: 51.74px;
    text-align: left;
    color: #292830;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .paid-href {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 103px;
    gap: 8px;
    margin-bottom: 24px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: "Hind Siliguri";
      font-size: 18px;
      font-weight: 400;
      line-height: 29.11px;
      text-align: left;
      color: #292830;
    }
  }
}

.paid {
  h4 {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 600;
    line-height: 38.81px;
    text-align: left;
    color: #292830;
  }

  h6 {
    font-family: Hind Siliguri;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.4px;
    text-align: left;
    color: #bdbdbd;
  }

  button {
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 136px;
    height: 50px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ff7235;
    color: #ff7235;
    font-family: Hind Siliguri;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.87px;
    text-align: left;
  }

  .get-btn {
    border: 1px solid #ff7235;
    background: #ff7235;
    color: #fff;
  }
}

// LAST SECTION
.last__container {
  background-image: url("../images/Blob.png");
  background-repeat: no-repeat;
  width: 1440px;
  height: 712px;
  background-color: #ff7235;

  display: flex;
  align-items: center;
  flex-direction: column;

  .last-top {
    padding-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      width: 920px;
      height: 144px;
      font-family: "Hind Siliguri";
      font-size: 72px;
      font-weight: 700;
      line-height: 72px;
      text-align: center;
      color: #fff;
    }
  }

  .last-bottom {
    background-image: url("../images/last-bac-img.png");
    background-repeat: no-repeat;
    margin-top: -80px;
    width: 1295px;
    height: 340.23px;
  }
}

.last-top {
  h3 {
    width: 920px;
    height: 36px;
    font-family: "Hind Siliguri";
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 60px;
  }

  button {
    width: 213px;
    height: 60px;
    justify-content: center;
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    z-index: 1000;
    background-color: #fff;

    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 20.9px;
    text-align: left;
    color: #ff7235;
  }
}

// FOOTER SECTION

.footer__container {
  padding-top: 80px;
  padding-bottom: 90px;

  display: flex;
  flex-direction: column;

  .footer-top {
    display: flex;
    justify-content: center;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .footer-bottom-left {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 300px;
  margin-right: 172px;

  button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7235;
    border-radius: 50%;

    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 700;
    line-height: 22.8px;
    text-align: left;
    color: #fff;
  }

  h5 {
    font-family: "Hind Siliguri";
    font-size: 23px;
    font-weight: 500;
    line-height: 21.85px;
    text-align: left;
    color: #292830;
  }
}

.footer-link {
  margin-right: 123px;
  h6 {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 500;
    line-height: 38.81px;
    text-align: left;
    color: #292830;
    margin-bottom: 24px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      font-family: "Hind Siliguri";
      font-size: 18px;
      font-weight: 500;
      line-height: 29.11px;
      text-align: left;
      color: #292830;
    }
  }
}

.footer-blok {
  margin-right: 128px;
  h6 {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 500;
    line-height: 38.81px;
    text-align: left;
    color: #292830;
    margin-bottom: 24px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      font-family: "Hind Siliguri";
      font-size: 18px;
      font-weight: 500;
      line-height: 29.11px;
      text-align: left;
      color: #292830;
    }
  }
}

.footer-input {
  width: 349px;
  height: 208px;
  display: flex;
  flex-direction: column;

  h6 {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 500;
    line-height: 38.81px;
    text-align: left;
    margin-bottom: 24px;
    color: #292830;
  }

  a {
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: left;
    color: #bdbdbd;
    margin-top: 10px;
  }
}

.footer-input {
  h5 {
    font-family: "Hind Siliguri";
    font-size: 20px;
    font-weight: 400;
    line-height: 32.34px;
    text-align: left;
    margin-bottom: 18px;
    color: #bdbdbd;
  }

  .footer-submit {
    width: 349px;
    height: 62px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #292830;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    button {
      width: 102px;
      height: 48px;
      background-color: #ff7235;
      border-radius: 8px;

      font-family: "Hind Siliguri";
      font-size: 16px;
      font-weight: 600;
      line-height: 25.87px;
      text-align: left;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      border: none;
      font-family: "Hind Siliguri";
      font-size: 18px;
      font-weight: 400;
      line-height: 29.11px;
      text-align: left;
      color: #292830;
      width: 200px;
      height: 40px;
      padding-left: 10px;
    }
  }
}

.footer-bottom {
  border-top: 3px solid #bdbdbd33;
  height: 150px;
}
.footer-bottom-left {
  a {
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: left;
    color: #292830;
  }
}

.footer-bottom-center {
  a {
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: left;
    color: #292830;
  }
}

.footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
