* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

// ANIMATSIYA BOLIMI
img {
  cursor: pointer;
}

button {
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    text-decoration: underline solid #000;
    color: #000;
  }
}

li {
  list-style: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    list-style: disc;
  }

  &::marker {
    color: #000;
  }
}

// HEADER QISMI

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 38px;
  margin-bottom: 108px;

  ul {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      font-family: "Hind Siliguri";
      font-size: 18px;
      font-weight: 400;
      line-height: 17.1px;
      text-align: left;
      color: #000;
    }
  }

  button {
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #ff7235;
    font-family: "Hind Siliguri";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    text-align: left;
    color: #ff7235;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// HERO QISMI

.hero__container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding-bottom: 158px;

  h1 {
    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: #292830;
    width: 540px;
    height: 288px;
  }

  p {
    //styleName: Sub-title;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
    margin-top: -40px;
    margin-bottom: 40px;
  }
}

.hero-left-bot {
  display: flex;
  align-items: center;
  gap: 24px;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    width: 225px;
    height: 75px;
    border-radius: 8px;
    background: #ff7235;

    color: #fff;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
  }

  a {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
  }
}

// MAIN QISMI
.main__container {
  background-image: url("../images/Blob.png");
  background-repeat: no-repeat;
  width: 1440px;
  height: 712px;
  background-color: #ff7235;
  padding-top: 87px;
  padding-left: 165px;
  padding-right: 165px;
}

// ARTICLE QISMI

.article__container {
  display: flex;
  align-items: center;
  gap: 108px;
  justify-content: center;
  padding-top: 82px;
  padding-bottom: 66px;

  img {
    filter: grayscale(100%);
  }
}
// INFO QISMI

.info__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: #bdbdbd;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
}

.info-left {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ff7235;
  }
}

// SAVE QISMI

.save {
  background-color: #fffaf8;
}

.save__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: #bdbdbd;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
}

.save-right {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ff7235;
  }
}

// NEED QISMI

.need__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: #bdbdbd;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
}

.need-left {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ff7235;
  }
}

// WORK QISMI

.work__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  padding: 139px 0;

  .work-top {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    h2 {
      width: 730px;
      height: 192px;
      font-family: "Hind Siliguri";
      font-size: 96px;
      font-weight: 700;
      line-height: 96px;
      text-align: left;
      color: #292830;
    }

    p {
      width: 350px;
      height: 156px;
      color: #bdbdbd;
      font-family: "Hind Siliguri";
      font-size: 24px;
      font-weight: 400;
      line-height: 38.81px;
      text-align: left;
    }
  }
}

.work-bottom {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  .work-templet {
    width: 350px;
    height: 350px;
    border-radius: 12px;
    background: #ffffff;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &:hover {
      box-shadow: 0px 0px 50px 0px #0000000a;
    }

    button {
      width: 64px;
      height: 64px;
      background: #ffbd740d;
      border-radius: 50%;
    }
  }

  .work-fail {
    box-shadow: 0px 0px 50px 0px #0000000a;
  }
}

.work-templet {
  h3 {
    font-family: "Hind Siliguri";
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #000;

    margin-top: 24px;
    margin-bottom: 12px;
  }

  p {
    width: 220px;
    height: 46px;
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
}

// PLAN QISMI

.plan {
  background-color: #fffaf8;
}

.plan__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 124px 0;
  gap: 80px;
  justify-content: center;
  .plan-top {
    font-family: "Hind Siliguri";
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    height: 72px;
    color: #292830;
  }
  .plan-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .paid {
      width: 350px;
      height: 500px;
      border-radius: 12px;
      border: 1px;
      background: #ffffff;
      border: 1px solid #f5f5f5;
      padding: 41px 100px 60px 40px;
      box-shadow: 0px 0px 50px 0px #0000000a;
    }
  }
}
.paid {
  h3 {
    width: 190px;
    height: 52px;
    font-family: "Hind Siliguri";
    font-size: 32px;
    font-weight: 600;
    line-height: 51.74px;
    text-align: left;
    color: #292830;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .paid-href {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 103px;
    gap: 8px;
    margin-bottom: 24px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: "Hind Siliguri";
      font-size: 18px;
      font-weight: 400;
      line-height: 29.11px;
      text-align: left;
      color: #292830;
    }
  }

  .paid {
    .paid-tittle {
      font-family: "Hind Siliguri";
      font-size: 24px;
      font-weight: 600;
      line-height: 38.81px;
      text-align: left;
      color: #292830;
      .paid-tittle-span {
        font-family: "Hind Siliguri";
        font-size: 20px;
        font-weight: 300;
        line-height: 32.34px;
        text-align: left;
        color: #bdbdbd;
      }
    }
  }
}
